<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTER</title>
  </head>
  <body>
    <div class="navBar">
      <ul>
        <li><a href='/login'>Login</a></li>
        <li><a href='/products'>Products</a></li>
        <li><a href='/checkout'>Checkout</a></li>
      </ul>
    </div>
    <h2>Register</h2>
    <form action="/register" method = "POST">
        <input type="text" name = "username" placeholder="Enter Username"/>
        <input type="password" name = "password" placeholder="Enter Password"/>
        <input type="submit" value="Create Account" />
    </form>
  </body>
</html>
